<h1>Editing Stock</h1>

<font color="#333333">

<%= render 'form' %>

<%= link_to 'Show', @stock, class: "btn btn-default btn-xs" %> 
<%= link_to 'Back', stocks_path, class: "btn btn-default btn-xs"  %>
</font>
